<%= form_for @income, remote: true, html: {class: "form-horizontal"} do |f| %>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label :name, class: "control-label col-sm-2" %>
        <div class="col-sm-9">
          <%= f.text_field :name, class: "form-control" %>
          <%= f.hidden_field :account_id %>
          <%= f.hidden_field :record_type, :value => "income" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :income, class: "control-label col-sm-2" %>
        <div class="col-sm-9">
          <%= f.text_field :income, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :income_category, class: "control-label col-sm-3" %>
        <div class="col-sm-8">
          <div class="dropdown">
            <%= f.collection_select :income_category_id, IncomeCategory.where("account_id = #{current_account.id}"), :id, :name, :include_blank => true %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-default" %>
      <%= link_to "Cancel", "#", class: "btn btn-danger", data: {dismiss: "modal"} %>
    </div>
<% end %>