<%= bootstrap_form_for @income, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8", remote: true do |f| %>
    <div class="modal-body">
      <%= f.text_field :name %>
      <%= f.hidden_field :account_id %>
      <%= f.hidden_field :record_type, :value => "income" %>
      <%= f.text_field :income, prepend: "$" %>
      <%= f.collection_select :income_category_id, IncomeCategory.where("account_id = #{current_account.id}"), :id, :name, :include_blank => true %>
    </div>
    <div class="modal-footer">
      <%= f.primary %>
      <%= link_to "Cancel", "#", class: "btn btn-danger", data: {dismiss: "modal"} %>
    </div>
<% end %>