<% @records.each do |record| %>
    <% if record.record_type == "income" %>
    <tr class="success">
      <td><%= record.name %></td>
      <td><%= number_to_currency record.record %></td>
      <td><%= record.created_at.strftime("%Y.%m.%d %H:%M") %></td>
      <td><%= record.updated_at.strftime("%Y.%m.%d %H:%M") %></td>
    </tr>
    <% elsif record.record_type == "expense"%>
        <tr class="danger">
          <td><%= record.name %></td>
          <td>- <%= number_to_currency record.record %></td>
          <td><%= record.created_at.strftime("%Y.%m.%d %H:%M") %></td>
          <td><%= record.updated_at.strftime("%Y.%m.%d %H:%M") %></td>
        </tr>
    <% end %>
<% end %>
