<%= bootstrap_form_for @expense, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8", remote: true do |f| %>
    <div class="modal-body">
      <ul class="alert-error"></ul>
      <%= f.text_field :name %>
      <%= f.hidden_field :account_id %>
      <%= f.hidden_field :record_type, :value => "expense" %>
      <%= f.text_field :expense, prepend: "$", placeholder: "e.g. 10 or 10.15" %>
      <%= f.collection_select :expense_category_id, ExpenseCategory.where("account_id = #{current_account.id}"), :id, :name, :include_blank => true %>
    </div>
    <div class="modal-footer">
      <%= f.primary %>
      <%= link_to "Cancel", "#", class: "btn btn-danger", data: {dismiss: "modal"} %>
    </div>
<% end %>