<% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.name %></td>
      <td><%= number_to_currency expense.expense %></td>
      <td><%= expense.created_at.strftime("%Y.%m.%d %H:%M") %></td>
      <td><%= expense.updated_at.strftime("%Y.%m.%d %H:%M") %></td>
      <td><%= link_to "Edit", edit_expense_path(expense), remote: true, class: "btn btn-default btn-xs" %></td>
      <td><%= link_to "Delete", expense_delete_path(expense), remote: true, class: "btn btn-danger btn-xs" %></td>
    </tr>
<% end %>