<!DOCTYPE html>
<html>
<head>
  <title>The Best "Financial accounting" App</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">tBFAA</a>
    </div>
    <div class="collapse navbar-collapse">
      <% if account_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to "Accounting", root_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Categories
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Incomes", income_categories_path %></li>
                <li><%= link_to "Expenses", expense_categories_path %></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign out", destroy_account_session_path, :method => :delete %></li>
          </ul>
          <p class="navbar-text navbar-right">Signed in as <%= current_account.email %>.</p>
      <% end %>
    </div>
  </div>
</header>
<div class="container">
  <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>